@use "variables";

.nav {
  &-enter-from,
  &-leave-to {
    transform: translateX(-100%);
  }
  &-enter-to,
  &-leave-from {
    transform: translateX(0);
  }
  &-enter-active,
  &-leave-active {
    transition: variables.$transition-bezier;
  }
}

.route {
  &-enter-from,
  &-leave-to {
    transform: translateX(20%);
    opacity: 0;
  }
  &-enter-to,
  &-leave-from {
    transform: translateX(0);
    opacity: 1;
  }
  &-enter-active,
  &-leave-active {
    transition: variables.$transition-bezier;
  }
}

.list {
  &-enter-from,
  &-leave-to {
    transform: translateY(20%) !important;
    opacity: 0;
  }
  &-enter-to,
  &-leave-from {
    transform: translateY(0);
    opacity: 1;
  }
  &-enter-active,
  &-leave-active,
  &-move {
    transition: variables.$transition-bezier;
  }
  &-leave-active {
    position: absolute;
  }
}

.modal {
  &-enter-from,
  &-leave-to {
    transform: translate(-50%, -50%) scale(0) !important;
    opacity: 0;
  }
  &-enter-to,
  &-leave-from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  &-enter-active,
  &-leave-active {
    transition: variables.$transition-bezier;
  }
}

.overlay-enter-from,
.overlay-leave-to {
  opacity: 0;
}
.overlay-enter-to,
.overlay-leave-from {
  opacity: 1;
}
.overlay-enter-active,
.overlay-leave-active {
  transition: variables.$transition;
}
