@use "variables";

.btn {
  border-radius: variables.$border-radius;
  border: 2px solid transparent;
  color: variables.$background-light-3;
  box-shadow: variables.$shadow-small-2;
  transition: variables.$transition;
  display: inline-block;
  
  &--cta {
    background: variables.$primary;
    &:hover {
      background: darken(variables.$primary, 10%);
    }
  }
  
  &--outline {
    background: none;
    border: 2px solid variables.$primary;
    color: variables.$primary;
  }

  &--warning {
    background: variables.$warning;
    &:hover {
      background: darken(variables.$warning, 10%);
    }
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: variables.$shadow-small;
  }
}
