@use "variables";

.card {
  background-color: variables.$background-light-2;
  border-radius: variables.$border-radius;
  transition: variables.$transition;
  box-shadow: variables.$shadow-small-2;
  position: relative;

  .h6 {
    color: variables.$primary;
  }

  figure {
    overflow: hidden;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: variables.$transition;
      width: 100%;
    }
  }

  &:hover {
    transform: scale(1.05);
    // color: variables.$primary;
    box-shadow: variables.$shadow-small;
    figure {
      img {
        transform: scale(1.2);
      }
    }
  }
}
