@use "variables";

.card {
  background-color: variables.$background-light-2;
  border-radius: variables.$border-radius;
  transition: variables.$transition;
  box-shadow: variables.$shadow-small-2;
  position: relative;
 


  .h6 {
    color: variables.$primary;
  }

  &:hover {
    transform: scale(1.05);
    // color: variables.$primary;
    box-shadow: variables.$shadow-small;
    img {
      transform: scale(1.2);
      
    }
  }
}
