@use 'variables';

@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.header {
  background-color: variables.$background-light-3;
  box-shadow: variables.$shadow-small;
  transition: variables.$transition;

  .hamburger {
    border: 0;
    width: 2.5rem;
    background: none;
    line-height: 0.6;
    cursor: pointer;

    span {
      background-color: variables.$primary-shade;
      height: 2px;
      width: 100%;
      display: inline-block;
      transition: variables.$transition-bezier;
      border-radius: 2px;
    }

    &:hover {
      span {
        background-color: variables.$primary;
      }
      span:nth-child(2) {
        transform: translateX(8px);
      }
    }
  }
}

.dark-mode {
  .header {
    background-color: variables.$background-dark-3;

    .hamburger {
      span {
        background-color: variables.$primary-tint;
      }

      &:hover {
        span {
          background-color: variables.$primary;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .header {
    .hamburger {
      width: 3rem;
      line-height: 0.8;

      span {
        height: 4px;
      }
    }
  }
}
