@use "variables";

.img-rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background: variables.$background-light-3;
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &--small {
    width: 8rem;
    height: 8rem;

    img {
      transition: variables.$transition;
    }
  }

    &--preview {
    width: 3rem;
    height: 3rem;

    img {
      transition: variables.$transition;
    }
  }

  &--large {
    width: 200px;
    height: 200px;
  }
}
