@use "variables";

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  
  .logo-icon {
    fill: variables.$primary;
    height: 32px;
  }
  .logo-letter {
    fill: variables.$primary-shade;
    transition: variables.$transition;
    height: 28px;
  }
  
  &:hover {
    .logo-letter {
      fill: variables.$primary;
    }
  }
}