@use 'variables';

@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  .logo-icon {
    fill: variables.$primary;
    height: 18px;
  }
  .logo-letter {
    fill: variables.$primary-shade;
    transition: variables.$transition;
    height: 16px;
  }

  &:hover {
    .logo-letter {
      fill: variables.$primary;
    }
  }
}

.dark-mode {
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;

    .logo-icon {
      fill: variables.$primary;
      height: 28px;
    }
    .logo-letter {
      fill: variables.$primary-tint;
    }

    &:hover {
      .logo-letter {
        fill: variables.$primary;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .logo {
    gap: 8px;

    .logo-icon {
      height: 28px;
    }
    .logo-letter {
      height: 24px;
    }
  }
}