@use "variables";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.modal {
  overflow: scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  background: variables.$background-light-3;
  box-shadow: variables.$shadow-large;
  border-radius: variables.$border-radius;
}

.modal--form {
  width: 100vw;
  height: 100vh;
}


.modal-open {
  transform: translate(-50%, -50%) scale(1);
}

.modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
}

  @include media-breakpoint-up(md) {
    .modal--form {
      width: 60vw;
      height: auto;
      // overflow: none;
    }
  }