@use 'variables';

@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.modal {
  overflow: scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  background: variables.$background-light-3;
  box-shadow: variables.$shadow-large;
  border-radius: variables.$border-radius;
  color: variables.$primary-shade;

  &.dark-mode {
    background: variables.$background-dark-3;
    color: variables.$primary-tint;

    input,select {
      background: variables.$background-dark-3;
      border-color: variables.$background-dark-2;
      color: variables.$primary-tint;
    }
  }
}

.modal--form {
  width: 100vw;
  height: 100vh;
}

.modal-open {
  transform: translate(-50%, -50%) scale(1);
}

.modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
}

@include media-breakpoint-up(lg) {
  .modal--form {
    width: 60vw;
    height: auto;
  }
}
