@use "variables";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

nav {
  width: 90vw;
  height: 100vh;
  background: variables.$background-light-3;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  box-shadow: variables.$shadow-large;
}

.navigation-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
}

  @include media-breakpoint-up(md) {
    nav {
      width: 50vw;
    }
  }
