@use 'variables';

.skill {
  border-radius: variables.$border-radius;
  background: variables.$primary-tint;
  color: variables.$primary-shade;
  box-shadow: variables.$shadow-small-2;
}

.dark-mode {
  .skill {
    background: variables.$primary-shade;
    color: variables.$primary-tint;
  }
}