@use "variables";
@use "navigation";
@use "animations";
@use "header";
@use "logo";
@use "card";
@use "button";
@use "modal";
@use "profile";
@use "skills";
@use "available";
@use "image";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap");
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/containers";
// @import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/utilities/api";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/forms";
// @import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

body {
  font-family: "Inter", sans-serif;
}

a {
  display: inline-block;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.nav-link {
  color: variables.$primary-shade;
  transition: variables.$transition;

  &:hover {
    color: variables.$primary;
  }
}

.wrapper {
  background-color: variables.$background-light-1;
  color: variables.$primary-shade;
  min-height: 100vh;
  transition: variables.$transition;
}